{% extends "request-access/layout.html" %}

{% block pageTitle %}GDX - Catalogue{% endblock %}

{% block content %}

{{ govukBackLink({
text: "Back",
href: "dashboard"
}) }}

<h1 class="govuk-heading-l">GDX Catalogue</h1>
<p class="govuk-body">List of available data.</p>
<p class="govuk-body">In the future, this will be integrated with the CDDO catalogue.</p>
<p class="govuk-body">There are currently 3 datasets available via GDX.</p>
<ul class="govuk-list">
    <li>
        <a class = "govuk-link" href="dataset">{{ data['dataset-name'] }}</a>
    </li>
    <li>
        <a class = "govuk-link" href="dataset">Debt Events</a>
    </li>
    <li>
        <a class = "govuk-link" href="dataset">Passport Information</a>
    </li>
</ul>

{% endblock %}