{% extends "access-management/layout.html" %}

{% block pageTitle %}Home - {{serviceName}}{% endblock %}

{% block content %}

{{ govukBackLink({
text: "Logout",
href: "/access-management"
}) }}

<h1 class="govuk-heading-l">Data Dashboard: {{ data['dashboard-department'] }}</h1>

{{ govukTable({
  caption: "Outgoing data shares",
  captionClasses: "govuk-table__caption--m",
  firstCellIsHeader: true,
  head: [
    {
      text: "Department"
    },
    {
      text: "Datasets shared"
    },
    {
      text: "Status"
    },
    {
      text: "Request date"
    },
    {
      text: ""
    }
  ],
  rows: [
    [
      {
        html: data['requesting-department']
      },
      {
        text: data['dataset-name']
      },
      {
        text: "New"
      },
      {
        text: "23/06/2024"
      },
      {
        html: "<a href='new-request'>Take action</a>"
      }
    ],
    [
      {
        text: "DWP"
      },
      {
        text: data['dataset-name']
      },
      {
        text: "MOU initiated"
      },
      {
        text: "17/11/2023"
      },
      {
        html: "<a href='#'>Take action</a>"
      }
    ],
    [
      {
        text: "HMPO"
      },
      {
        text: data['dataset-name']
      },
      {
        text: "MOU signed"
      },
      {
        text: "15/10/2027"
      },
      {
        html: "<a href='#'>Take action</a>"
      }
    ],
    [
      {
        text: "MOJ"
      },
      {
        text: data['dataset-name']
      },
      {
        text: "On boarding initiated"
      },
      {
        text: "15/11/2027"
      },
      {
        html: "<a href='#'>Take action</a>"
      }
    ],
    [
      {
        text: "DWP"
      },
      {
        text: "Debt"
      },
      {
        text: "On boarding complete"
      },
      {
        text: "19/12/2027"
      },
      {
        html: "<a href='#'>Take action</a>"
      }
    ],
    [
      {
        text: "MOJ"
      },
      {
        text: "Debt"
      },
      {
        text: "Active"
      },
      {
        text: "10/06/2028"
      },
      {
        html: "<a href='#'>Take action</a>"
      }
    ]
  ]
}) }}


{% endblock %}
