
{% extends "access-management/layout.html" %}

{% block pageTitle %}
  Home – GOV.UK
{% endblock %}

{% block content %}
    <h1 class="govuk-heading-xl">GDX</h1>
    <p class="govuk-body">Welcome to the GDX 'Access Management' prototype.</p>

    {{ govukWarningText({
      text: "This is a mock up of how the GDX user experience might work, not a functioning production service.",
      iconFallbackText: "Warning"
    }) }}

<form method=post action="access-management/dashboard">
{{ govukInput({
    label: {
        text: "Username"
    },
    classes: "govuk-!-width-one-third",
    id: "user",
    name: "user"
}) }}

{{ govukButton({
    text: "Continue",
    preventDoubleClick: true
}) }}
</form>

{% endblock %}
