{% extends "access-management/layout.html" %}

{% block pageTitle %}Home - {{serviceName}}{% endblock %}

{% block content %}

{{ govukBackLink({
text: "Back",
href: "/access-management/dashboard"
}) }}

<h1 class="govuk-heading-l">Data Dashboard: {{ data['dashboard-department'] }}</h1>
<h2 class="govuk-heading-m">{{ data['requesting-department'] }} onboarding</h2>

{{ govukAccordion({
  id: "accordion-default",
  items: [
    {
      heading: {
        text: "Connection details"
      },
      content: {
        html: "<p class='govuk-body'>".concat(data['dataset-connection-details'], "</p>")
      }
    },
    {
      heading: {
        text: "Onboarding details"
      },
      content: {
        html: "<p class='govuk-body'>".concat(data['dataset-onboarding-details'], "</p>")
      }
    }
  ]
}) }}

<div class="govuk-button-group">
    {{ govukButton({
    text: "Send onboarding details",
    href: "sent-onboarding-details"
    }) }}
</div>

{% endblock %}
