{% extends "layout.html" %}

{% block pageTitle %}
  Check your answers template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl">Check your answers before requesting access to this dataset</h1>

      <h2 class="govuk-heading-m">Requester details</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Name
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data ['user'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden"> requesting user</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Department
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data ['requesting-department'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden"> requesting department</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Email
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data ['requesting-department-email'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden"> requesting department email</span>
            </a>
          </dd>
        </div>
      </dl>

      <h2 class="govuk-heading-m">Request details</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Please explain the reason for requesting
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['requestDetail'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="access-request">
              Change
              <span class="govuk-visually-hidden"> request details</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Please explain what the data is going to be used for
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['use'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="access-request">
              Change
              <span class="govuk-visually-hidden"> data used for</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            What is your legal basis for accessing the data?
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['legalBasis'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="access-request">
              Change
              <span class="govuk-visually-hidden"> legal basis</span>
            </a>
          </dd>
        </div>
      </dl>

      <h2 class="govuk-heading-m">Now send your request</h2>

      <p>By submitting this application you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>

      <form action="/access-request-confirmation" method="post" novalidate>

        <button type="submit" class="govuk-button" data-module="govuk-button">
          Accept and send
        </button>

      </form>

    </div>
  </div>
{% endblock %}
