{% extends "base.html.njk" %}

{% block pageTitle %}GDX - Catalogue{% endblock %}

{% block content %}
<h1 class="govuk-heading-l">GDX Catalogue</h1>
<p class="govuk-body">List of available data</p>

<ul>
    {% for dataItem in dataItems %}
    <li>
        <h2><a class = "govuk-link" href="/catalogue/{{ dataItem.id }}">{{ dataItem.name }}</a></h2>
    </li>
    {% endfor %}
</ul>
{% endblock %}