{% extends "base.html.njk" %}

{% block pageTitle %}GDX - Dashboard for department A{% endblock %}

{% block content %}
<h1 class="govuk-heading-l">GDX Dashboard for department A</h1>

<p class="govuk-body">

    <ul>
        <li><a class="govuk-link" href="/shared"> Data being shared</a></li><br>
        <li><a class="govuk-link" href="/consumed"> Data being consumed</a></li><br>
        <li><a class="govuk-link" href="/catalogue"> GDX data catalogue</a></li><br>
    </ul>

</p>


{% endblock %}

