{% extends "base.html" %}

{% block pageTitle %}GDX - Dashboard for department A{% endblock %}

{% block content %}
<h1 class="govuk-heading-l">GDX Dashboard for department A</h1>

<p class="govuk-body">
    <h2 class="govuk-heading-m">Data catalogue.</h2><br>
        <ul>
            <li><a class="govuk-link" href="/shared"> Catalogue of data being shared</a></li><br>
            <li><a class="govuk-link" href="/consumed"> Catalogue of data being consumed</a></li><br>
        </ul>

</p>


{% endblock %}

