{% extends "base.html.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block pageTitle %}GDX - Login{% endblock %}

{% block content %}
    <h1 class="govuk-heading-xl">GDX</h1>
    <p class="govuk-body">Welcome to the GDX prototype.</p>

    {{ govukWarningText({
      text: "This is a mock up of how the GDX user experience might work, not a functioning production service.",
      iconFallbackText: "Warning"
    }) }}

{% if (error_messages.length > 0) %}

{{ govukErrorSummary({
  titleText: "There is a problem",
  errorList: [
    {
      text: error_messages[0],
      href: "#user"
    }
  ]
}) }}

{% endif %}

<form method=post action="/login">
{{ govukInput({
    label: {
        text: "Username"
    },
    classes: "govuk-!-width-one-third",
    id: "user",
    name: "user"
}) }}

{{ govukButton({
    text: "Continue",
    preventDoubleClick: true
}) }}
</form>

{% endblock %}

