{% extends "base.html.njk" %}

{% block pageTitle %}GDX - Data Requests{% endblock %}

{% block content %}
<h1 class="govuk-heading-l">Data Requests</h1>

<ul class="govuk-list">
    {% for r in dataRequests %}
    <li>
        <a class="govuk-link" href="/requests/{{ r.id }}">{{ r.datasetName }} - {{ r.requestingUser.name }} ({{ r.requestingUser.deparment }})</a>
    </li>
    {% endfor %}
</ul>

{% endblock %}
