{% extends "base.html.njk" %}

{% block pageTitle %}GDX - Confirm{% endblock %}

{% block content %}
<p class="govuk-body">{{ success_messages[0] }}</p>
<a class="govuk-link" href="/dashboard"> Click here to go to dashboard</a>
{% endblock %}