{% extends "base.html.njk" %}

{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}GDX - Request Access{% endblock %}

{% block content %}
<h1 class="govuk-heading-m">Access Form</h1>

    {{ govukSummaryList({
        rows: [
            {
                key: {
                text: "Requesting Department"
            },
                value: {
                text: user.deparment
            }
            },
            {
                key: {
                text: "Requesting Department Email"
            },
                value: {
                text: "dwp@example.com"
            }
            },
            {
                key: {
                text: "Dataset"
            },
                value: {
                html: dataset.name
            }
            },
            {
                key: {
                text: "Dataset Description"
            },
                value: {
                html: dataset.description
            }
            }
        ]
    }) }}

<form method="post">
{{ govukTextarea({
    name: "requestDetail",
    id: "requestDetail",
    spellcheck: true,
    label: {
        text: "Please explain why access to the data is required",
        classes: "govuk-label--m"
    },
    hint: {
        text: "Make sure to include details about how the data will be used"
    }
}) }}

<input type="hidden" id="datasetId" name="datasetId" value="{{ dataset.id }}">


{{ govukButton({
    text: "Submit",
    preventDoubleClick: true
}) }}
</form>
{% endblock %}
