{% extends "base.html.njk" %}

{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% block pageTitle %}GDX - Request Access{% endblock %}

{% block content %}
<h1 class="govuk-heading-m">Access Form</h1>

    {{ govukSummaryList({
        rows: [
            {
                key: {
                text: "Requesting Department"
            },
                value: {
                text: user.department
            }
            },
            {
                key: {
                text: "Requesting Department Email"
            },
                value: {
                text: "dwp@example.com"
            }
            },
            {
                key: {
                text: "Dataset"
            },
                value: {
                html: dataset.name
            }
            },
            {
                key: {
                text: "Dataset Description"
            },
                value: {
                html: dataset.description
            }
            }
        ]
    }) }}

<form method="post">
{{ govukTextarea({
    name: "requestDetail",
    id: "requestDetail",
    spellcheck: true,
    label: {
        text: "Please explain the reason for requesting",
        classes: "govuk-label--m"
    },
    hint: {
        text: "For example, is it a new project or initiative?"
    }
}) }}
{{ govukTextarea({
    name: "use",
    id: "use",
    spellcheck: true,
    label: {
        text: "Please explain what the data is going to be used for",
        classes: "govuk-label--m"
    },
    hint: {
        text: "How will the data be consumed, and by how many teams?"
    }

}) }}


{{ govukRadios({
  idPrefix: "legal-basis",
  name: "legalBasis",
  fieldset: {
    legend: {
      text: "What is your legal basis for accessing the data?",
      classes: "govuk-fieldset__legend--m"
    }
  },
  items: [
    {
      value: "Consent",
      text: "Consent"
    },
    {
      value: "Contract",
      text: "Contract"
    },
    {
      value: "Legal obligation",
      text: "Legal obligation"
    },
    {
      value: "Vital interests",
      text: "Vital interests"
    },
    {
      value: "Vital interests",
      text: "Vital interests"
    },
    {
      value: "Legitimate interests",
      text: "Legitimate interests"
    }
  ]
}) }}

{{ govukFileUpload({
  id: "file-upload-1",
  name: "file-upload-1",
  label: {
    text: "If you have a Data Sharing Agreement, attach it here"
  }
}) }}

<input type="hidden" id="datasetId" name="datasetId" value="{{ dataset.id }}">


{{ govukButton({
    text: "Submit",
    preventDoubleClick: true
}) }}
</form>
{% endblock %}
